@model List<SellerAuctionVM>
@{
    ViewData["Title"] = "مزایده های من";
    Layout = "_Layout";
}

@*set store id*@
@{
    int storeId = Convert.ToInt32(TempData.Peek("StoreId"));
}


<div class="content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <!-- partial dashboard -->
                <div class="col-lg-3">
                    <partial name="~/Areas/Seller/Views/Shared/_PartialSellerDashboard.cshtml"></partial>
                </div>
                <!-- end partial dashboard -->
                <!-- content -->
                <div class="col-lg-9">
                    <div class="content-box" style="padding:40px 20px;">
                        <div class="text-center">
                            <div class="category-item my-2">
                                <div class="row">

                                    @foreach (var auction in Model)
                                    {
                                        <div class="col-md-4">
                                            <div class="product-box-item shadow-box">
                                                <div class="product-box-item-img">
                                                    <a href="#">
                                                        @if (auction.ProductImages.Count > 0)
                                                        {
                                                            <img src="@auction.ProductImages[0].Url" alt="" class="img-fluid">
                                                        }
                                                        else
                                                        {
                                                            <img src="img/product/wach3.jpg" alt="" class="img-fluid">
                                                        }
                                                    </a>
                                                    @if (auction.HasBuyer)
                                                    {
                                                        <div class="product-box-item-hover">
                                                            <div class="product-box-item-hover-cart">
                                                                <button class="product-box-item-hover-cart-btn">
                                                                    <i class="bi bi-list"></i> لیست خریداران
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <a href="#">
                                                    <div class="product-box-item-desc">
                                                        <div class="product-box-item-title my-1">
                                                            <h5>
                                                                @auction.ProductTitle
                                                            </h5>
                                                        </div>
                                                        <div class="product-box-item-title text-danger">
                                                            <h6 style="height: 35px;">
                                                                تعداد : @auction.CountOfProducts
                                                            </h6>
                                                        </div>
                                                        @if (auction.StartTime > DateTime.Now)
                                                        {
                                                            <span class="badge bg-danger rounded-pill text-white my-flex-center">شروع نشده</span>
                                                        }
                                                        else if (auction.StartTime <= DateTime.Now && auction.EndTime > DateTime.Now)
                                                        {
                                                            <span class="badge bg-danger rounded-pill text-white my-flex-center">در حال انجام</span>
                                                        }
                                                        else if (auction.EndTime <= DateTime.Now)
                                                        {
                                                            <span class="badge bg-danger rounded-pill text-white my-flex-center">تمام شده</span>
                                                        }
                                                        <div class="product-box-price" style="margin-top: 10px; height: 90px;">
                                                            <div class="d-flex justify-content-between">
                                                                <span class=" bg-info rounded-pill text-white my-flex-center">زمان شروع : @auction.StartTime</span>
                                                                <span class=" bg-info rounded-pill text-white my-flex-center">زمان پایان : @auction.EndTime</span>
                                                                <span class="new-price" style="color: #0f8a2e;">
                                                                    قیمت: @auction.Price تومان
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-add-to-cart my-3" asp-area="Seller" asp-controller="Auction" asp-action="Create" asp-route-id="@storeId">ایجاد مزایده جدید</a>
                        </div>
                    </div>
                </div>
                <!-- end content -->
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
