@model HomeVM
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center">
    <h1 class="title mt-3 shadow bg-gradient">به دکان نت خوش آمدید</h1>
</div>



<div id="error-container" class="container my-3">
    @if (TempData.ContainsKey("SameSellerErrorMessage"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["SameSellerErrorMessage"]
        </div>
    }
</div>

<!-- products-->
<div class="product-box-two">
    <div class="container">
        <div class="pbt">
            <div class="pbt-header">
                <div class="pbt-header-title">
                    <h6>جدیدترین محصولات</h6>
                </div>
                <div class="pbt-header-link">
                    <a asp-controller="Home" asp-action="ProductList" class="fromCenter border-animate">مشاهده همه</a>
                </div>
            </div>
            <div class="swiper product-box-two-slider">
                <div class="swiper-wrapper">
                    @foreach (var product in Model.NormalProducts)
                    {
                        <div class="swiper-slide">
                            <div class="product-box-item shadow-box">
                                <div class="product-box-item-img">
                                    <a href="">
                                        @if (product.Images.Count > 0)
                                        {
                                            <img src="@product.Images[0].Url" alt="" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="img/product/wach3.jpg" alt="" class="img-fluid">
                                        }
                                    </a>
                                    <div class="product-box-item-hover">
                                        <div class="product-box-item-hover-cart align-content-center">
                                            <a asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id" class="product-box-item-hover-cart-btn">
                                                <i class="bi bi-cart-plus"></i> افزودن به سبد خرید
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-box-item-desc">
                                    <div class="product-box-item-title">
                                        <h4 class="text-primary">
                                            @product.Title
                                        </h4>
                                        <h6 class="my-2" style="height: 25px">
                                            تعداد: @product.Stock
                                        </h6>
                                        <h6 style="color: #0f8a2e">
                                            قیمت: @product.Price تومان
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="product-box-price">
                                        <div class="d-flex justify-content-between text-center">
                                            <span class="new-price" style="color: #930b87; font-size: 14px">
                                                تاریخ ثبت
                                                <br>
                                                @product.CreatedAt
                                            </span>
                                            <span class="new-price" style="color: #930b87; font-size: 14px">
                                                @product.StoreTitle
                                                <br>
                                                @product.SellerName
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next sb2"></div>
                <div class="swiper-button-prev sb2"></div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
<!-- open auctions-->
<div class="product-box-two">
    <div class="container">
        <div class="pbt">
            <div class="pbt-header">
                <div class="pbt-header-title">
                    <h6>مزایده های فعال</h6>
                </div>
            </div>
            <div class="swiper product-box-two-slider">
                <div class="swiper-wrapper">
                    @foreach (var auction in Model.OpenAuctions)
                    {
                        <div class="swiper-slide">
                            <div class="product-box-item shadow-box">
                                <div class="product-box-item-img">
                                    <a href="">
                                        @if (auction.ProductImages.Count > 0)
                                        {
                                            <img src="@auction.ProductImages[0].Url" alt="" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="img/product/wach3.jpg" alt="" class="img-fluid">
                                        }
                                    </a>
                                    <div class="product-box-item-hover">
                                        <div class="product-box-item-hover-cart align-content-center">
                                            <a asp-controller="Bid" asp-action="Create" asp-route-id="@auction.Id" class="product-box-item-hover-cart-btn">
                                                <i class="bi bi-hammer"></i> ثبت پیشنهاد
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-box-item-desc">
                                    <div class="product-box-item-title">
                                        <h4 class="text-primary">
                                            @auction.ProductTitle
                                        </h4>
                                        <h6 class="my-2" style="height: 25px">
                                            تعداد: @auction.CountOfProducts
                                        </h6>
                                        <h6 style="color: #0f8a2e">
                                            آخرین قیمت: @auction.Price تومان
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="product-box-price">
                                        <div class="d-flex justify-content-between text-center">
                                            <span class="new-price" style="color: #930b87; font-size: 14px">
                                                زمان پایان
                                                <br>
                                                @auction.EndTime
                                            </span>
                                            <span class="new-price" style="color: #930b87; font-size: 14px">
                                                @auction.StoreTitle
                                                <br>
                                                @auction.SellerName
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next sb2"></div>
                <div class="swiper-button-prev sb2"></div>
            </div>
        </div>
    </div>
</div>
<!-- end open auctions -->
<!-- main-category -->
<div class="main-category">
    <div class="container">
        <div class="row justify-content-center">
            <div class="main-category-title">
                <h4>دسته بندی های دکان نت</h4>
            </div>
            @foreach (var category in Model.ParentCategories)
            {
                <div class="col-lg-2 col-4">
                    <div class="main-category-item">
                        <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">
                            <div class="rounded-circle">
                                <img src="@category.ImageUrl" alt="" class="img-fluid rounded-circle" style="height: 200px">
                            </div>
                            <h6>@category.Title</h6>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- end main-category -->
<!-- stores -->
<div class="product-box-two">
    <div class="container">
        <div class="pbt">
            <div class="pbt-header">
                <div class="pbt-header-title">
                    <h6>غرفه های فعال</h6>
                </div>
            </div>
            <div class="swiper product-box-two-slider">
                <div class="swiper-wrapper">
                    @foreach (var store in Model.Stores)
                    {
                        <div class="swiper-slide">
                            <div class="product-box-item shadow-box">
                                <div class="product-box-item-img">
                                    <a href="">
                                            <img src="@store.ImageUrl" alt="@store.Title" class="img-fluid">
                                    </a>
                                    <div class="product-box-item-hover">
                                        <div class="product-box-item-hover-cart align-content-center">
                                            <a asp-controller="Store" asp-action="Index" asp-route-id="@store.Id" class="product-box-item-hover-cart-btn">
                                                <i class="bi bi-hammer"></i> ورود به غرفه
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-box-item-desc">
                                    <div class="product-box-item-title">
                                        <h4 class="text-primary">
                                            @store.Title
                                        </h4>
                                        <h6 class="my-2" style="height: 25px">
                                            تعداد محصول: @store.Products.Count
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="product-box-price">
                                        <div class="justify-content-between text-center">
                                            <span class="new-price text-center" style="color: #930b87; font-size: 14px">
                                                نام غرفه دار: @store.SellerName
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next sb2"></div>
                <div class="swiper-button-prev sb2"></div>
            </div>
        </div>
    </div>
</div>
<!-- end stores -->







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
