@model BuyerStoreVM
@{
    ViewData["Title"] = "غرفه";
    Layout = "_Layout";
}


<div class="content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ui-box">
                        <div class="ui-box-item">
                            <div class="ui-box-item-desc" style="border-radius: 10px;background-color: #fff;">
                                <div class="dashboard-user-img-profile">
                                    <img src="@Model.ImageUrl" width="80" height="80"
                                         class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="dashboard-user-info">
                                    <h6 class="user-name">@Model.SellerName</h6>
                                </div>
                                <div class="text-center my-2">
                                    @Model.Title
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="content-box" style="padding:40px 20px;">
                        <div class="row g-3 text-center">
                            <div class="col-xl-6 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-bag-check"></i> تعداد محصولات غرفه
                                    </div>
                                    <div class="dashboard-cart-footer" style="background: #0476D0;">@Model.Products.Count</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-award"></i> مدال
                                    </div>
                                    @{
                                        switch (Model.Seller.MedalId)
                                        {
                                            case 1:
                                                <div class="dashboard-cart-footer" style="background: #FFD700;">طلا</div>
                                                break;
                                            case 2:
                                                <div class="dashboard-cart-footer" style="background: #C0C0C0;">نقره</div>
                                                break;
                                            case 3:
                                                <div class="dashboard-cart-footer" style="background: #CD7F32;">برنز</div>
                                                break;
                                            default:
                                                <div class="dashboard-cart-footer" style="background: #0db47f;">---</div>
                                                break;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var product in Model.Products)
                            {
                                <div class="col-md-4">
                                    <div class="product-box-item shadow-box">
                                        <div class="product-box-item-img">
                                            <a href="#">
                                                @if (product.Images.Count > 0)
                                                {
                                                    <img src="@product.Images.FirstOrDefault()?.Url" alt="" class="img-fluid">
                                                }
                                                else
                                                {
                                                    <img src="img/product/wach3.jpg" alt="" class="img-fluid">
                                                }
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-cart align-content-center">
                                                    <a asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id" class="product-box-item-hover-cart-btn">
                                                        <i class="bi bi-cart-plus"></i> افزودن به سبد خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-box-item-desc">
                                            <div class="product-box-item-title">
                                                <h4 class="text-primary">
                                                    @product.Title
                                                </h4>
                                                <h6 class="my-2" style="height: 25px">
                                                    تعداد: @product.Stock
                                                </h6>
                                                <h6 style="color: #0f8a2e">
                                                    قیمت: @product.Price تومان
                                                </h6>
                                            </div>
                                            <hr>
                                            <div class="product-box-price">
                                                <div class="d-flex justify-content-between text-center">
                                                    <span class="new-price" style="color: #930b87; font-size: 14px">
                                                        تاریخ ثبت
                                                        <br>
                                                        @product.CreatedAt
                                                    </span>
                                                    <span class="new-price" style="color: #930b87; font-size: 14px">
                                                        دسته بندی
                                                        <br>
                                                        @product.CategoryTitle
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}