@model DashboardVM
@{
    ViewData["Title"] = "غرفه من";
    Layout = "_Layout";
}

<div class="content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ui-boxs">
                        <div class="ui-box">
                            <div class="ui-box-item">
                                <div class="ui-box-item-desc" style="border-radius: 10px;background-color: #fff;">
                                    <div class="dashboard-user-img-profile">
                                        <img src="img/default-icon/user-profile.png" width="80" height="80"
                                             class="img-fluid rounded-circle" alt="">
                                    </div>
                                    <div class="dashboard-user-info">
                                        <h6 class="user-name">@Model.FirstName @Model.LastName</h6>
                                    </div>
                                    <div class="text-center my-2">
                                        @Model.StoreTitle
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-box">
                            <div class="ui-box-item">
                                <div class="ui-box-item-title" style="padding: 15px;">
                                    <h4 class="fw-bold">
                                        حساب کاربری شما
                                    </h4>
                                </div>
                                <div class="ui-box-item-desc p-0">
                                    <ul class="nav flex-column sidebar-menu">
                                        <li class="nav-item active">
                                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link text-muted">
                                                <i class="bi bi-house"></i>
                                                <span>داشبورد من</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="profile.html" class="nav-link text-muted">
                                                <i class="bi bi-person-circle"></i>
                                                <span>پروفایل من</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Seller" asp-controller="Product" asp-action="Index" asp-route-Id="@Model.Id" class="nav-link text-muted">
                                                <i class="bi bi-shop"></i>
                                                <span>محصولات من</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="favorite.html" class="nav-link text-muted">
                                                <i class="bi bi-heart"></i>
                                                <span>علاقه مندی ها</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="notification.html" class="nav-link text-muted">
                                                <i class="bi bi-chat-dots"></i>
                                                <span>اطلاعیه ها</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="comments.html" class="nav-link text-muted">
                                                <i class="bi bi-pencil"></i>
                                                <span>نقد و نظرات</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="address.html" class="nav-link text-muted">
                                                <i class="bi bi-pin-map"></i>
                                                <span>آدرس ها</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="last-seen.html" class="nav-link text-muted">
                                                <i class="bi bi-eye"></i>
                                                <span>بازدید های اخیر</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="content-box" style="padding:40px 20px;">
                        <div class="row g-3">
                            <div class="col-xl-3 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-bag-check"></i> تعداد محصولات غرفه
                                    </div>
                                    <div class="dashboard-cart-footer" style="background: #0476D0;">@Model.Products.Count</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-activity"></i> سفارشات در
                                        انتظار بررسی
                                    </div>
                                    <div class="dashboard-cart-footer" style="background: #F6A21E;">0</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-x-octagon"></i> سفارشات لغو
                                        شده
                                    </div>
                                    <div class="dashboard-cart-footer" style="background: #0db47f;">0</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 dashboard-cart-col">
                                <div class="dashboard-cart shadow-box">
                                    <div class="dashboard-cart-title">
                                        <i class="bi bi-repeat"></i> سفارشات مرجوعی
                                    </div>
                                    <div class="dashboard-cart-footer" style="background: #BA0F30;">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ui-box">
                                    <div class="ui-box-item ui-box-white">
                                        <div class="ui-box-item-title">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h4 class="fw-bold">
                                                    اطلاعات شخصی
                                                </h4>
                                                <a class="btn-main btn-main-primary" asp-area="Seller" asp-controller="Profile" asp-action="Update" asp-route-Id="@Model.Id">
                                                    ویرایش <i class="bi bi-pencil-fill"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ui-box-item-desc p-0">
                                            <table class="table main-table shadow-none main-table-2">
                                                <tr>
                                                    <td colspan="2">
                                                        <h6 class="text-muted">نام و نام خانوادگی</h6>
                                                        <p class="fw-bold mt-2">@Model.FirstName @Model.LastName</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <h6 class="text-muted">شماره تلفن</h6>
                                                        <p class="fw-bold mt-2">@Model.Mobile</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <h6 class="text-muted">شماره کارت</h6>
                                                        <p class="fw-bold mt-2">@Model.CardNumber</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <h6 class="text-muted">شماره شبا</h6>
                                                        <p class="fw-bold mt-2">@Model.ShebaNumber</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <h6>تاریخ تولد</h6>
                                                        <p class="fw-bold mt-2">@Model.Birthday</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <h6>تاریخ عضویت</h6>
                                                        <p class="fw-bold mt-2">@Model.CreatedAt</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <h6>نام شهر</h6>
                                                        <p class="fw-bold mt-2">@Model.CityName</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <h6>آدرس</h6>
                                                        <p class="fw-bold mt-2">@Model.Address</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <h6>بیوگرافی</h6>
                                                        <p class="fw-bold mt-2">@Model.Biography</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard -->
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}